.flexbox {
    background-color: #aadc54;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#flashcard, #done {
    width: 60vw;
    height: 60vh;
    font-size: 4rem;
    transition: color 0.6s ease;
    transition: background-color 0.3s ease-in;
}

#flashcard.active {
    background-color: #2f4705;
    transition: background-color 0.3s ease-in;
    color: rgb(238, 255, 0);
}

.flexbox3 {
    flex-direction: row;
}

.flexbox button {
    background-color: #a3b18a;
    color: white;
}

.flexbox3 button {
    margin: 5px;
}

.hint {
    color: white;
    font-size: 2rem;
    margin: 0;
    padding-bottom: 10px;
    font-weight: 500;
    animation: fadeOut 5s ease-in forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

