.customisePage {
    display: flex;
    flex-direction: column;
    background-color: #d97706;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.customisePageGrid {
    display: grid;
    width: 600px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.customisePage h1 {
    color: white;
    margin-bottom: 30px;
    font-size: 3rem;
}

.customisePage button {
    background-color: #f59e0b;
    color: white;
    width: 300px;
    height: 40px;
    font-size: 0.8rem;
    margin: 5px;
    border: #f59e0b solid 2px;
    transition: border-color 0.5s ease-in;
}

.customisePage button:hover {
    border-color: #d97706;
}

#back {
    margin-top: 5px;
}