.flashcardTestPage {
    background-color: #aadc54;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#flashcardTest, #done {
    width: 50vw;
    height: 50vh;
    font-size: 2rem;
    transition: background-color 0.5s ease-in;
}

.flexbox4 {
    flex-direction: row;
}

.flexbox4 button {
    margin: 5px;
}

.flashcardTestPage button {
    background-color: #a3b18a;
    color: white;
}

#answer {
    margin: 3px;
    padding-left: 11px;
    width: 49vw;
    height: 40px;
    border: none;
    border-radius: 5px;
}

#answer:focus {
    outline: none;
}

button:hover {
  border-color: navajowhite;
}

#flashcardTest:hover {
    border-color: #a3b18a;
}

#flashcardTest.right {
    transition: background-color 0.5s ease-in;
    background-color: #23bd1a;
}

#flashcardTest.wrong {
    transition: background-color 0.5s ease-in;
    background-color: rgb(186, 32, 32);
}

h2 {
    margin: 0;
    padding-bottom: 5px;
    color: white;
    font-weight: 600;
}