body {
    background-color: rebeccapurple;
}

.landingPage {
    display: flex;
    margin-top: 8vh;
    height: 85vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #facc15;
}

.flexbox2 {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.landingPage button {
    background-color: #facc15;
    color: rebeccapurple;
    height: 50px;
    width: 250px;
    font-size: 1rem;
    border: 3px solid #facc15;
    transition: border-color 0.5s ease-in;
}

.landingPage button:hover {
    border-color: rebeccapurple;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

footer {
    margin: 0px 0px 5px 10px;
    position: relative;
    bottom: 0;
    text-align: left;
    color: #facc15;
    font-weight: 500;
}

