.optionsPage {
    background-color: #FF5C00;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.optionsPage button {
    background-color: #facc15;
    color: #FF5C00;
    width: 300px;
    height: 40px;
    transition: border-color 0.5s ease-in;
    border: #facc15 2px solid;
    font-weight: 600;
    font-size: 0.8rem;
}

.optionsPageGrid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.optionsPageGrid button {
    background-color: #facc15;
    color: rebeccapurple;
    width: 300px;
    height: 40px;
    transition: border-color 0.5s ease-in;
    border: #facc15 2px solid;
    font-weight: 600;
    font-size: 0.8rem;
}

.optionsPage button:hover {
    border-color: #FF5C00;
}